.home-backgound{
    background-color: #000;

}


.font-color{
    margin-top: 20%;
   
}



#nav-title{
    color: #FFF;
    margin-left: 10px;
}

#btn-join{
    background-color: #00D5FE;
    color:#FFF;
}

#home-content{
    margin: 0;
    color:#FFF;


}

